input, textarea
{
    border: 1px solid #387838;
    background: #ebefeb;
    padding: 3px 7px 3px 7px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
    background: #f7fff7;
}
input[type="submit"]
{
    border-radius: 2px;
    background: #f0f7f0;
}
