html
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
img
{
    border: 0px;
}
a
{
    color: #408840;
}
.ppal
{
    width: 980px;
    margin: 15px auto 0;
    clear: both;
}
.img-logo
{
    width: 114px;
    float: left;
    margin: 0px 15px 0 15px;
}
.menu-ppal
{
    list-style-type:none
}
.menu-ppal-item
{
    display: inline;
    margin: 0px 30px 0px 30px;
}
.menu-ppal-item a
{
    text-decoration: none;
    color: #388838;
}
.menu-ppal-item a:hover
{
    color: #38b838;
}
.hline
{
    border-bottom: 1px solid #ccc;
    max-width: 980px;
    margin: 15px auto 0;
    width: 100%
}
footer.ppal
{
    text-align: center;
    color: #606060;
    font-size: 12px;
    clear: left;
}
.session
{
    text-align: right;
    width: 980px;
    margin: 15px auto 0;
}
