.newsimage
{
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px 20px 10px 20px;
}
.card
{
    padding: 15px;
    margin: 0px;
    width: 459px;
    float: left;
}
.card header a
{
    color: #408840;
    font-size: 17px;
}
.card p
{
    color: #507050;
    margin: 15px;
    padding: 10px 0px 10px 0px;
}
.clear
{
    clear: both;
}
.artl
{
    border-right: 1px solid #ccc;
}
